@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1  class="text-center"> Application page  </h1>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout="_Layout2";

}


   
    <div class="row align-items-center">
        <div class="col-12">



   <div class="table-responsive">
       <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>

      <th scope="col">Birth Date</th>
        <th scope="col">Mobile</th>
         <th scope="col">Type</th>
          <th scope="col">File</th>
           <th scope="col">Status</th>

           <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
       <td>20-07-2022</td>
      <td>ikram Abdi</td>
      <td>kiraama@gmail.com</td>
      <td>15-01-1993</td>
      <td>0619311822</td>
      <td>bachelor</td>
      <td>
          <button type="button" class="btn btn-outline-primary">
              
             <i class="fa-solid fa-file-export"></i> Download</button>

      </td>

       <td>Pending</td>

       <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger">Reject</button>
        
          <button type="button" class="btn btn-success">Accept</button>
        </div>

       </td>
    </tr>
    
    
  </tbody>
</table>
        </div>
    </div>
   </div>
