@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1  class="text-center"> Registration</h1>
<div class="container">
<div class="row">
   <div class="col-6">
   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">FirstName</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ikram">
</div>
 </div>
 <div class="col-6">
     <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">LastName</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Abdi">
</div>
   </div>



   <div class="col-6">


   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Date of birth</label>
  <input type="date" class="form-control" id="exampleFormControlInput1">
</div>
 </div>
 <div class="col-6">
     <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@gmail.com">
</div>
   </div>

   <div class="col-6">


   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">UserName</label>
  <input type="text" class="form-control" id="exampleFormControlInput1"  placeholder="Username">
</div>
 </div>
 <div class="col-6">
     <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Password</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="*****************">
</div>
   </div>


   <div class="col-6">


   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1"  placeholder="hodan street">
</div>
 </div>
 <div class="col-6">


   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">phone</label>
  <input type="number" class="form-control" id="exampleFormControlInput1"  placeholder="25261xxxxxxxxxxxxxxxx">
</div>
 

</div>

     <div class="col-6">


   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">file</label>
  <input type="file" class="form-control" id="exampleFormControlInput1">
</div>
 </div>
 <div class="col-6">
     <div  class="row" >
         <div class="col-6">
              <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
   male
  </label>
</div>
  </div>

   




<div class="col-6">



<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
 female
  </label>
</div>
     
   </div>
   </div>
   </div>
   

   
     

   
    
 <div class="col-6">

      <label for="exampleFormControlInput1" class="form-label">Faculty</label>
     <select class="form-select" aria-label="Default select example">
  <option selected>select</option>
  <option value="1">faculty of science</option>
  <option value="2">faculty of arts and social studies</option>
  <option value="3">faculty of Engeneering </option>
</select>
     
   </div>
   

   <div class="col-6">
       
   <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Educational Level</label>
     <select class="form-select" aria-label="Default select example">
  <option selected>select</option>
  <option value="1">Bachelor Degree</option>
  <option value="2">Master Degree</option>
  <option value="3">phd</option>
</select>
     </div>
   </div>
   </div>
   <div class="mt-5">
     <button type="button" class="btn btn-outline-success">Success</button>
</div>
</div>






